@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #edecf3;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(154, 154, 154);
}

.cart::-webkit-scrollbar-track {
  background: #edecf3;
}
